hr {
  width: 90%;
  padding-bottom: 1%
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/109/108/original/free-cat-and-dog-pattern-vector.png');
  /*otherdogs background-image: url('https://secure.img1-fg.wfcdn.com/im/12589702/resize-h600-w600%5Ecompr-r85/8420/84209235/Kawakami+Dog+Animal+Removable+Peel+and+Stick+Wallpaper+Panel.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  background-color: whitesmoke;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
}