hr {
  width: 90%;
  padding-bottom: 1%
}

body {
  background-image: url('https://wallpaperaccess.com/full/1971078.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  background-color: whitesmoke;
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  text-align: center;
}

#work-title {
  font-family: 'Sacramento', cursive;
  font-size: 2.75rem;
  padding-bottom: .5rem;
}

.repo {
  font-size: 1.75rem;
  font-family: 'Quicksand', sans-serif;
}